body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/originals/5d/75/39/5d7539ba356a1e4a76033199793caee4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* What kind of selector is this? */
header {
  border: 1px solid gray;

}
.logo {
  width: 200px;
  height: 150px;
  margin: 2% 3%;
  position: sticky;
  margin-left: 0pt;
}
  main {
    height: 100pt auto;
    width: 100% auto;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

  /* This is an element within and element selector */ 
  nav{
    color: blueviolet;
    padding: 5%;
    margin-left: 50%;
	  text-align: center;
  }
  /* This is an ID selector */
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }

  h1 {
    color:black;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid rgb(8, 8, 7);
    padding: 2px;
  }

  h2 {
    grid-column: 2/3;
    margin: 5% auto;
    color: blue;
    text-align: center;
  }

  button {
    grid-column: 2/3;
    margin: 3% auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: transparent;
    text-align: center;
    color: black;
    letter-spacing: 10px;
  }
 figure{
   display: flex;
 }
